div {
  background-color: #000;
}

.red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.orange {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: -1px -1px 2px #fff;
}

.green {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px -1px 2px #fff;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #000000d9;
  width: 219px;
  height: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 25%;
}